/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}

process {
    withName: 'NFCORE_RIBOMSQC:RIBOMSQC:MSNBASEXIC' {
        ext.args = { [
            "--analyte_name ${params.analyte}",
            "--rt_tol_sec ${params.rt_tolerance}",
            "--mz_tol_ppm ${params.mz_tolerance}",
            "--msLevel ${params.ms_level}",
            "--plot_xic_ms1 ${params.plot_xic_ms1}",
            "--plot_xic_ms2 ${params.plot_xic_ms2}",
            "--plot_output_path ${params.plot_output_path}",
            "--overwrite_tsv ${params.overwrite_tsv}"
        ].join(' ') }
    }
}
